/* RESET */
html, body, h1, h2, h3, h4, h5, h6, p, q, ol, ul, li, dl, lh, dt, dd, pre, code, address, variable, form, fieldset, blockquote, cite {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
	font-style:normal;
}
img, fieldset {
	border: 0;
}
ol, ul {
	padding-left:0;
	margin-left:0;
	list-style: none;
}
/* Global */
.buttons__wrapper {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.button {
	text-decoration: none;
	margin: 2em 0;
	min-width: 4.5em;
	text-align: center;
	font-family: 'Alegreya Sans';
}
